<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE menu SYSTEM "menu.dtd">
<menu>
    <category>
        <item>
            <name>Sushi</name>
            <description>Japanese, raw fish filletcovering rice</description>
            <price>$ 9.95</price>
        </item>
        <item>
            <name>Kimchi</name>
            <description>Korean, pickled cabbage,very hot</description>
            <price>$ 4.95</price>
        </item>
        <item>
            <name>Sesame</name>
            <description>Chinese, fried chicken sweet</description>
            <price>$ 7.95</price>
        </item>
    </category>        

</menu>